button, input[type=submit], a.btn{
    display: inline-block;
    border: none;
    background-image: url('../images/buttons/button_default_2.png');
    background-repeat: repeat-x;
    border-left: 1px solid #6b6b6b;
    border-right: 1px solid #6b6b6b;
    border-radius: 2px;
    padding: 2px 10px;
    height:25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: none;
    min-width:80px;
    font-size: 100%;
}

button:hover, input[type=submit]:hover, a.btn:hover{
    background-image: url('../images/buttons/button_hover_part.png');
    background-repeat: repeat-x;
}

a.btn, a.btn:hover{
	height:21px;
	padding: 4px 10px 0 10px;
}

button:active, input[type=submit]:active, a.btn:active{
    background-image: url('../images/buttons/button_pressed_part.png');
    background-repeat: repeat-x;
}

button[disabled=disabled], input[type=submit][disabled=disabled], a.btn[disabled=disabled]{
	background-image: url('../images/buttons/button_disabled_part.png');
	color: #9E9E9E;
	cursor: default;
}
button[disabled=disabled]:hover, input[type=submit][disabled=disabled]:hover, a.btn[disabled=disabled]:hover{
	background-image: url('../images/buttons/button_disabled_part.png');
	color: #9E9E9E;
}