/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

body{
    font-family: Arial;
    color: #333;
    margin: 0;
    padding: 0;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.error{
	border: 2px solid #ff9600;
}
.error-message{
	background-image: url('../images/icons/error_on.png');
	background-repeat: no-repeat;
	background-position: left;
	min-width:18px;
	min-height:18px;
	padding: 2px 20px;
	vertical-align: bottom;
}
#address-error{
	position: relative;
	left: 150px;
}

/*Popup Dialogs (should be in jquery.ui.dialog.css, but image reference problems occur*/
.ui-dialog .error-panel #error-icon{
	display:inline-block;
	background-image: url('../images/icons/error_on.png');
	background-repeat: no-repeat;
	min-width:18px;
	min-height:18px;
	padding-right: 10px;
	vertical-align: bottom;
}

/*Header*/

#header{
    position: fixed;
    padding: 0;
    margin: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-color: #e2e2e2;
    height: 80px;
    max-height: 80px;
    border-top: 3px solid #d8aec6;
    width: 100%;
    z-index: 2;
}

#logo{
    margin-left: 17px;
    margin-top: 10px;
}

.selected{	
    background-color: #D8E8EF;
}

.flash{
	width: 50%;
	position: absolute;
	top: 0px;
	margin-right: 25%;
	margin-left: 25%;
	z-index: 100;
	text-align: center;
	background-color: #C03283;
	background-color: rgba(192, 50, 131, 0.4);
	border-radius: 2px;
	padding: 2px 0;
	box-shadow: 1px 1px 2px grey, -1px 0 2px grey;
}

.field{
	padding: 10px 0 0 23px;
}

.create {
	margin-left: 23px;
}

.hide {
	display:none;
}

.standard-nav{
    list-style: none;
    padding: 0;
}

.standard-nav li{
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.standard-nav a {
    text-decoration: none;
    color: #333;
}
#primary-nav{
    z-index: 10;
    position: absolute;
    left: 0;
    margin: 0;
    margin-left: 70px;
    bottom: -6px;
    padding: 0;
}
a.tab-link{
    display: inline-block;
    margin: 0;
    background-image: url('../images/buttons/tab.png');
    width: 110px;
    height: 22px;
    max-height: 21px;
    padding: 0;
    padding-top: 5px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 11pt;
    text-transform: uppercase;
}
a.tab-link.current{
    background-image: url('../images/buttons/tab_active.png');
}
a.tab-link:active{
    background-image: url('../images/buttons/tab_pressed.png');
}
a.tab-link:hover{
    background-image: url('../images/buttons/tab_hover.png');
}
#message-tab-link{
    display: inline-block;
    background-image: url('../images/buttons/tab_message.png');
    background-repeat: no-repeat;
    width: 115px;
    padding-left: 10px;
    text-align: left;
}
#status-tab-link{
    text-align: left;
    padding-left: 15px;
    width: 95px;
}

.indicator{
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding: 0;
    margin: 6px 7px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 0.7em;
    font-weight: bolder;
    text-align:center;
}
#inbox-indicator{
    background-image: url('../images/icons/status_pink.png');
}
#status-indicator{
    background-image: url('../images/icons/status_green.png');
}
#secondary-nav{
    font-size: 0.85em;
    position: absolute;
    right: 0;
    top: -3px;
    margin: 0;
    padding: 0;

}

#secondary-nav a{
    display: inline-block;
    border-top: 3px solid #d8aec6;
    padding: 6px;
    margin: 0;
}
#secondary-nav li{
    margin: 0;
    padding: 0;
}
#secondary-nav a:hover{
    background-color:#e0e0e0;
    border-top: 3px solid #ca2d92;
}

#tabbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 11px;
    padding: 0;
    margin: 0;
    background-image: url('../images/tabbar.png');
}

/*Main*/
#main{
    padding: 0;
    margin: 0;
    height: 85%;
}
#status-tab #main{
    background-color: #eee;
    padding: 17px;
}
#status-tab #traffic-status{
    min-height: 500px;
    margin: 26px;
}

#status-tab #traffic-status .export-button{
    float: right;
}

#status-tab #connection-status{
    min-height: 200px;
    margin: 26px;
}

#status-tab #update-status{
    height: 200px;
    margin: 26px;
}
.status-section{
    float: left;
    width: 40%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.status-section h3{
    padding: 10px;
    padding-left: 5px;
    background: #eee;
    margin:0;
    
}
.status-detail{
    padding: 17px;
    background-color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: relative;
    margin: 5px;
    padding: 17px;
}
.update-status-detail{
    position: relative;
    margin: 5px;
    padding: 5px;
}
.update-status-detail span{
    font-size: 0.95em;
}
.update-status-detail button{
    min-width: 150px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
.connection-status-overview{
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.connection-status-overview h4{
    margin: 8px 0;
    float: left;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0 1px;
}

.connection-status-overview h4.okay{
    background-image: url('assets/icons/png/status_green.png');
}
.connection-status-overview h4.attention{
    background-image: url('assets/icons/png/status_orange.png');
}
.connection-status-detail{
    padding-top: 8px;
    width: 270px;
    float: right;
    clear: right;
}
.connection-status-detail span{
    font-size: 0.9em;
    display: block;
}

.connection-status-detail span.network-strength-indicator{
    position:absolute;
    top: 20px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.connection-status-detail span.network-strength-indicator.full{
    background-image: url('assets/icons/png/signal_four.png');
}

#connection-tester-button{
}

#traffic-status{
    
}
#traffic-status .form-field{
    float: left;
    margin-left: 17px;
    margin-bottom: 10px;
    width: 200px;
}

#traffic-status #general-traffic-filters select{
    margin-bottom: 10px;
}
#traffic-status input[type=submit], #traffic-status button{
    display: block;
    float: right;
}

#traffic-status #absolute-date-filter input[type=radio]{
    float: left;
}
#traffic-status #absolute-date-filter .sub-form-field{
    float: left;
    margin-left: 5px;
}

#traffic-status #absolute-date-filter .start-date, #traffic-status #absolute-date-filter .end-date{
    background-image: url('assets/icons/png/calendar.png');
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 30px;
}

#traffic-status #absolute-date-filter input[type=text]{
    width: 2em;
    border: 1px solid #ddd;
}

#traffic-status #absolute-date-filter input[type=text].year-input{
    width: 4em;
}
#sidebar{
    position: fixed;
    top: 84px;
    padding: 17px 17px 0 17px;
    float: left;
    width: 15%;
    height: 93%;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid #9e9e9e;
}

#sidebar ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
#sidebar .main-list li h3{
    text-transform: uppercase;
    padding: 0;
    padding-left: 23px;
    margin: 0;
}

#sidebar .sublist a{
    display: block;
    text-decoration: none;
    color: #333;
    padding-left: 23px;
}


#sidebar .sublist{
    margin: 10px 0;
}

#sidebar .sublist button{
    margin: 3px auto;
    margin-left: 23px;
    display: block;
    font-size: 0.7em !important;
}
#sidebar .sublist li{
    padding: 5px 0;
    margin: 0;
    font-size: 0.95em;
}
#sidebar .sublist li:hover{
    background-color: #e5eff3;
}
#sidebar .sublist li.create:hover{
    background-color: white;
}
#sidebar .sublist a:hover{
    background-color: #e5eff3;
}
#sidebar .sublist a.create:hover{
    background-color: white;
}

#sidebar .sublist li.active-section{
    background-color: #D8E8EF;
}
.list-title{
    background-repeat: no-repeat;
}
#messages-list-title{
    background-image: url('../images/icons/messages.png');
}
.activities-list-title{
    background-image: url('../images/icons/activities.png');
}
#folders-list-title{
    background-image: url('../images/icons/folders.png');
}
#create-new-list-title{
    background-image: url('../images/icons/createnew.png');
}
#groups-list-title{
    background-image: url('assets/icons/png/groups.png');
}
#contacts-list-title{
    background-image: url('assets/icons/png/contacts.png');
}

#shows-list-title{
    background-image: url('../images/icons/shows.png');
}

#content{
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-size: 0.95em;
    float: left;
    width: 82%;
    height: 93%;
    margin-left: 17.8%;
}

.section-actions {
    position: fixed;
    z-index: 4;
    margin-bottom: 50px;
    width: 83%;
    background-color: #fff;
    top: 83px;
}
.section-actions .message-title, .section-actions #archive-title{
    padding: 0;
    position: relative;
    margin: 0;
    min-height: 43px;
    padding: 0 17px;
    /* border-left: 1px solid #9e9e9e; */
}
.section-actions .activity-title{
    margin: 0;
    min-height: 200px;
    height: 200px;
    padding: 0 17px;
    background-color: #D8E8EF;
    border-left: 1px solid #9e9e9e;
}

.section-actions .message-title h3, .section-actions .activity-title h3,.section-actions h3{
    text-transform: uppercase;
    padding:10px;
    padding-left: 28px;
    width:30%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 6px 10px;
    float:left;
}

.section-actions .activity-title #poll-sent{
    padding:10px;
    margin: 0;
    float:left;
}
.section-actions .button-list{
	list-style: none;
	float: right;
	margin: 0;
}
.section-actions .activity-title .button-list li{
	padding: 10px;
	text-align: right;
}
.section-actions .message-title .button-list li, .section-actions #archive-title .button-list li{
	padding: 10px 0 10px 10px;
	text-align: right;
	display: inline;
}
.section-actions .button-list .poll-btn{
	width: 200px;
}
.section-actions .activity-title #activity-details{
	width:70%;
	float:left;
	padding-left:28px;
	height: 30%;
}
.section-actions .activity-title td{
	padding: 0 10px;
}

#messages-tab .section-actions .message-title h3{
    background-image: url('../images/icons/inbox.png');
}
.section-actions #archive-title h3{
    background-image: url('../images/icons/inboxarchive.png');
}
#contacts-tab .section-actions h3{
    background-image: url('assets/icons/png/groups.png');
}
.section-actions-buttons{
    margin: 0;
    padding: 10px 10px;
    float:right;
}
.footer{
    width: 100%;
    float: left;
    height: 7%;
    padding: 5px;
    border-top: 1px solid #9e9e9e;
    background-color: #f0f0f0;
    bottom: 0;
    position: fixed;
    z-index: 2;
}

.footer input[type=text]{
    display: block;
    width: 170px;
    height: 19px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #9e9e9e;
    padding: 3px;
    background-image: url('assets/icons/png/search.png');
    background-repeat: no-repeat;
    background-position: right;
}
.footer #message-toggler,
.footer form{
    float: left;
    position: relative;
    left: 17%;
}
.footer form {
	margin-left: 10px;
}
.footer #paging{
	float:right;
	position: relative;
	right:31%;
}
.footer #message-toggler{
    padding: 3px;
    text-decoration: none;
    font-size: .8em;
}

.footer #message-toggler a{
    color: inherit;
    padding: 0 10px;
    text-decoration: none;
}

.footer #paging .step, .footer #paging .currentStep {
    display: none;
}

.footer #paging .prevLink, .footer #paging .nextLink{
	float:left;
	width: 25px;
	height:25px;
}

.footer #paging a.prevLink{
    background-image: url('../images/buttons/paginationleft_default.png');
    background-repeat: no-repeat;
    margin-right: 0;
    
}

.footer #paging a.prevLink:hover{
    background-image: url('../images/buttons/paginationleft_hover.png');
    background-repeat: no-repeat;
}

.footer #paging a.prevLink:active{
    background-image: url('../images/buttons/paginationleft_pressed.png');
    background-repeat: no-repeat;
}

.footer #paging a.prevLink.disabled{
    background-image: url('../images/buttons/paginationleft_disabled.png');
    background-repeat: no-repeat;
}

.footer #paging a.nextLink{
    background-image: url('../images/buttons/paginationright_default.png');
    background-repeat: no-repeat;
    margin-left: 0;
}

.footer #paging a.nextLink:hover{
    background-image: url('../images/buttons/paginationright_hover.png');
    background-repeat: no-repeat;
}

.footer #paging a.nextLink:active{
    background-image: url('../images/buttons/paginationright_pressed.png');
    background-repeat: no-repeat;
}

.footer #paging a.nextLink.disabled{
    background-image: url('../images/buttons/paginationright_disabled.png');
    background-repeat: no-repeat;
}

#inbox-action-buttons button{
    margin: 0;
    padding: 0;
}
#messages{
    padding: 0;
    margin: 0;
    background-image: url("../images/menubar.png");
    background-position: 0 2px;
    background-repeat: repeat-x;
    width: 100%;
    height:96%;
    overflow-x: hidden;
    display: block;
}

#message-list{
    float:left;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 45px;
    width:65%;
}

#message-list thead{
    position: fixed;
    top: 128px;
    width: 100%;
    z-index: 12;
    padding: 0;
    margin-bottom: 23px;
    border: 0;
    background-image: url('../images/menubar.png');
    background-repeat: repeat-x;
    /* border-left: 1px solid #9e9e9e; */
}

#message-list tbody{
    position: absolute;
    margin-top: 25px;
    z-index: 1;
    overflow: hidden;
    max-width: 632px;
    width: 50%
}

#message-list tr{
    height: 28px;
    margin: 0;
    border: none;
    text-align: left;
    width: 100%;
}
#message-list .message-preview td a, #message-list th a{
    text-decoration: inherit;
    color: inherit;
}
#message-list .message-preview:hover{
    background-color: #e5eff3;
}

.message-preview-star a{
    display: inline-block;
    padding: 0;
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/star.png');
    background-repeat: no-repeat;
}
.message-preview-star a:hover{
    background-image: url('../images/icons/star_on.png');
}
.message-preview-star a.starred{
    background-image: url('../images/icons/star_on.png');
}
#message-list td, #message-list th{
    border: none;
    padding: 0;
    margin: 0;
    height: 24px;
}
#message-list .message-preview-sender {
    padding-left: 17px;
}

#message-list tbody tr:hover {
    background-color: #e5eff3;
   	padding: 0;
    margin: 0;
}
#message-list span{
    margin: 5px;
}
#message-list a{
    display: block;
}
#message-sorter{
    width: 100%;
    padding: 0;
    margin: 0;
}
#message-detail{
    position: fixed;
    float:left;
    right: 0;
    width: 30%;
    max-width: 35%;
    min-width: 196px;
    height: 96%;
    margin: 0;
    top: 154px;
    background-color: #e5eff3;
}

#message-detail .msg-btn{
	width:26%;
	margin: 0 2%;
}

#message-detail .extra-msg-btn{
	width:50%;
	margin: 17px 2%;
}

#message-detail-content{
    background-color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 0;
    width: 90%;
    border: 1px solid #b5c6cd;
    margin: 17px auto;
}

#message-detail-content p{
	margin: 0;
    padding: 17px;
}

#message-detail-sender, #message-detail-date{
    width: 90%;
    margin: 5px auto;
}

#message-detail-sender{
    margin-top: 10px;
}

#message-detail-buttons{
    width: 100%;
    margin: 17px;
    padding: 0;
}

button, input[type=submit], a.btn{
    display: inline-block;
    border: none;
    background-image: url('../images/buttons/button_default_2.png');
    background-repeat: repeat-x;
    border-left: 1px solid #6b6b6b;
    border-right: 1px solid #6b6b6b;
    border-radius: 2px;
    padding: 0px 10px;
    height:25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: none;
    min-width:80px;
}

button:hover, input[type=submit]:hover, a.btn:hover{
    background-image: url('../images/buttons/button_hover_part.png');
}

button:active, input[type=submit]:active, a.btn:active{
    background-image: url('../images/buttons/button_pressed_part.png');
}

a.btn{
	height:21px;
	padding: 2px 10px;
}

#msg-response-dropdown{
	float: left;
    position: relative;
    min-height:25px;
	padding: 3px 0;
	width: 26%;
}
#btn_reply{
	float:left;
	margin: 0 0 0 2%;
    border: none;
    background-image: url('../images/buttons/button_default_2.png');
    background-repeat: repeat-x;
    border-left: 1px solid #6b6b6b;
    border-radius: 2px;
    padding: 3px 10px;
    height:21px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: none;
    min-width:80px;
    width: 10%;
}
#btn_dropdown{
	float:left;
	margin: 0 2% 0 0;
    border: none;
    background-image: url('../images/buttons/dropdown_default_arrow.png');
    background-repeat: no-repeat;
    padding: 3px 0;
    height:25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: none;
    min-width: 25px;
}
#btn_forward{
	float:left;
	display:block;
	width:100%;
	padding: 3px 0;
}
#dropdown_options{
	float:left;
	position:relative;
	top: 25px;
	right: 29%;
	background-color: white;
	border: 1px solid #6b6b6b;
	width:26%;
	text-align: center;
	height: 25px;
	box-shadow: 1px 1px 2px grey, -1px 0 2px grey;
}

button:hover, input[type=submit]:hover, a.btn:hover {
	display: inline-block;
    background-image: url('../images/buttons/button_hover_2.png');
    background-repeat: repeat-x;
    border-left: 1px solid #6b6b6b;
    border-right: 1px solid #6b6b6b;
    border-radius: 2px;
    padding: 2px 10px;
    height: 21px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: none;
    min-width:80px;
}
/*Contacts*/
#contacts{
    position: relative;
    border-top: 1px solid #333;
}
#contact-list{
    float: left;
    width: 200px;
    overflow: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
}
#contact-list li{
    margin: 0;
    padding: 5px;
}
#contact-list li:hover{
    background-color: #e5eff3;
    
}
#contact-list .contact-name{
    padding: 5px;
    text-decoration: none;
    color: #333;
}

#contact-editor{
    padding: 10px;
    margin-left: 200px;
    background-color: #D8E8EF;
}
#contact-editor form{
    width: 400px;
    text-align: right;
}
#contact-editor .form-field{
    position: relative;
    margin:0;
    padding: 5px;
    margin-bottom: 5px;
}
#contact-editor .form-field label{
    margin: 0 10px;
}

#contact-editor .form-field select{
    position: relative;
}
#contact-editor input[type=text]{
    border: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 250px;
}

#contact-editor textarea{
    border: none;
    width: 240px;
    padding: 5px;
}

#contact-editor #action-buttons{
    width: 100%;
    float: right;
    text-align: right;
}

#contact-editor #action-buttons button{
    margin-left: 5px;
}


#contact-message-history{
    border-top: 1px solid #b5c6cd;
    position: relative;
}

#contact-message-history p{
    margin-left: 145px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
#contact-message-history h4{
    position: absolute;
    margin: 15px 0;
}

#contact-message-history button{
    margin-left: 145px;
}

#contact-message-history p.sent{
    background-image: url('./assets/icons/png/sentmessages.png');
}

#contact-message-history p.received{
    background-image: url('./assets/icons/png/receivedmessages.png');
}

/* Polls */

#poll-details{
    background-color: #D8E8EF;
    height: 100%;
}

#poll-details h3{
    background-image: url('./assets/icons/png/activities.png');
}
