/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

body{
    font-family: Arial;
    color: #333;
    margin: 0;
    padding: 0;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.unread {
	font-weight: bolder;
}

.error{
	border: 2px solid #ff9600;
}
.error-message{
	background-image: url('../images/icons/error_on.png');
	background-repeat: no-repeat;
	background-position: left;
	min-width:18px;
	min-height:18px;
	padding: 2px 20px;
	vertical-align: bottom;
}
#address-error{
	position: relative;
	left: 150px;
}

.send-failed{
	background-image: url('../images/icons/error_on.png');
	background-repeat: no-repeat;
	background-position: right center;
	margin-right: 17px;
}

/*Popup Dialogs (should be in jquery.ui.dialog.css, but image reference problems occur*/
.ui-dialog .error-panel #error-icon{
	display:inline-block;
	background-image: url('../images/icons/error_on.png');
	background-repeat: no-repeat;
	min-width:18px;
	min-height:18px;
	padding-right: 10px;
	vertical-align: bottom;
}

/*Header*/

#header{
    position: fixed;
    padding: 0;
    margin: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-color: #e2e2e2;
    height: 80px;
    max-height: 80px;
    border-top: 3px solid #d8aec6;
    width: 100%;
    z-index: 2;
}

#logo{
    margin-left: 17px;
    margin-top: 10px;
}

.selected{	
    background-color: #D8E8EF;
}

.flash{
	width: 50%;
	position: absolute;
	top: 0px;
	margin-right: 25%;
	margin-left: 25%;
	z-index: 100;
	text-align: center;
	background-color: #C03283;
	background-color: rgba(192, 50, 131, 0.4);
	border-radius: 2px;
	padding: 2px 0;
	box-shadow: 1px 1px 2px grey, -1px 0 2px grey;
}

.field{
	padding: 10px 0 0 23px;
}

.create {
	margin: 0 40px;
}

.hide {
	display:none;
	height:0;
}

.standard-nav{
    list-style: none;
    padding: 0;
}

.standard-nav li{
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.standard-nav a {
    text-decoration: none;
    color: #333;
}
#primary-nav{
    z-index: 10;
    position: absolute;
    left: 0;
    margin: 0;
    margin-left: 70px;
    bottom: -6px;
    padding: 0;
}
a.tab-link{
    display: inline-block;
    margin: 0;
    background-image: url('../images/buttons/tab.png');
    width: 110px;
    height: 22px;
    max-height: 21px;
    padding: 0;
    padding-top: 5px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 11pt;
    text-transform: uppercase;
}
a.tab-link.current{
    background-image: url('../images/buttons/tab_active.png');
}
a.tab-link:hover{
    background-image: url('../images/buttons/tab_hover.png');
}
a.tab-link:active{
    background-image: url('../images/buttons/tab_pressed.png');
    z-index: 10;
}

#message-tab-link{
    display: inline-block;
    background-size: cover;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
#status-tab-link{
    text-align: left;
    padding-left: 15px;
    width: 95px;
}

.indicator{
    background-repeat: no-repeat;
    display: inline-block;
    padding: 0;
    margin: 4px 7px;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 0.7em;
    font-weight: bolder;
    text-align:center;
}
#inbox-indicator{
	background-color: #C03283;
	border-radius: 10px;
	padding: 2px;
}
#status-indicator{
	margin:0 5px;
	padding:0;
	width:25px;
	height:25px;
    background-image: url('../images/icons/status_green.png');
}
#secondary-nav{
    font-size: 0.85em;
    position: absolute;
    right: 0;
    top: -3px;
    margin: 0;
    padding: 0;

}

#secondary-nav a{
    display: inline-block;
    border-top: 3px solid #d8aec6;
    padding: 6px;
    margin: 0;
}
#secondary-nav li{
    margin: 0;
    padding: 0;
}
#secondary-nav a:hover{
    background-color:#e0e0e0;
    border-top: 3px solid #ca2d92;
}

#tabbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 11px;
    padding: 0;
    margin: 0;
    background-image: url('../images/tabbar.png');
}

/*Main*/
#main{
    padding: 0;
    margin: 0;
    height: 85%;
}
#status-tab #main{
    background-color: #eee;
    padding: 17px;
    height: 96%;
}
#status-tab #traffic-status{
    min-height: 700px;
    float:left;
    position:fixed;
    top: 142px;
    width: 47%;
    background: white;
    margin: 0 25px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#status-tab #right-column{
    min-height: 700px;
    position:fixed;
    right:0;
    top: 83px;
    width: 47%;
    float: right;
    margin: 0 25px;
}
#status-tab #connection-status{
    min-height: 200px;
    background: white;
    margin: 0 25px 25px 25px;
    border-radius: 4px;
    padding: 17px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#status-tab #device-detection{
	min-height: 100px;
    background: white;
    margin: 0 25px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 17px
}
#status-tab #device-detection a{
	float: right;
}

#status-tab h3{
	padding: 17px;
    background: #eee;
    margin: 0 25px;
    text-transform: uppercase;
}
#status-tab #traffic-title{
    float:left;
    position:fixed;
    top: 83px;
    width: 45%;
}
	
#status-tab #traffic-status #trafficGraph{
	min-height:500px;
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#status-tab #traffic-status .export-button{
    float: right;
}

#traffic-status ul{
    float: left;
    margin-left: 17px;
    margin-bottom: 10px;
    padding: 0;
}

#traffic-status #type-filters{
	width: 40%;
    margin: 17px 17px;
    height: 200px;
}
#traffic-status #type-filters li{
	margin: 10px 0;
}
#traffic-status #type-filters select{
	width: 200px;
	margin: 10px 17px 10px 33px;
}
#traffic-status #time-filters{
   width: 50%;
   float:right;
}
#traffic-status #time-filters li{
   margin: 10px 0;
   float:right;
   width:100%;
}
#traffic-status #time-filters li.datepicker{
   margin: 10px 0 10px 25px;
   float:right;
   width:100%;
}
#traffic-status #time-filters #pre-defined-range-options{
   	width: 200px;
	margin: 10px 0;
}

#traffic-status input[type=submit]{
	display:block;
	float: right;
	margin: 43px 17px 17px 17px;
}
#traffic-status input[type=submit]:hover{
	height:25px;
}

#traffic-status #time-filter #start-date, #traffic-status #time-filter #end-date{
    background-image: url('assets/icons/png/calendar.png');
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 30px;
}

#connection-status #connections tr{
	height: 50px;
}
#connection-status #connections .name{
	width: 300px;
	padding: 0 30px 20px 30px;
	background-image: url('../images/icons/status_green.png');
    background-repeat: no-repeat;
    background-position: left middle;
}
#connection-status #connections .not{
	background-image: url('../images/icons/status_red.png');
	background-repeat: no-repeat;
    background-position: left middle;
}

#status-tab #update-status{
    height: 200px;
    margin: 26px;
}

.update-status-detail{
    position: relative;
    margin: 5px;
    padding: 5px;
}
.update-status-detail span{
    font-size: 0.95em;
}
.update-status-detail button{
    min-width: 150px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
.connection-status-overview{
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.connection-status-overview h4{
    margin: 8px 0;
    float: left;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0 1px;
}

.connection-status-overview h4.okay{
    background-image: url('assets/icons/png/status_green.png');
}
.connection-status-overview h4.attention{
    background-image: url('assets/icons/png/status_orange.png');
}
.connection-status-detail{
    padding-top: 8px;
    width: 270px;
    float: right;
    clear: right;
}
.connection-status-detail span{
    font-size: 0.9em;
    display: block;
}

.connection-status-detail span.network-strength-indicator{
    position:absolute;
    top: 20px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.connection-status-detail span.network-strength-indicator.full{
    background-image: url('assets/icons/png/signal_four.png');
}

#connection-tester-button{
}

#sidebar{
    position: fixed;
    top: 84px;
    float: left;
    width: 17%;
    height: 93%;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid #9e9e9e;
    z-index: 200;
}

#sidebar ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
#sidebar .main-list li h3{
    text-transform: uppercase;
    margin: 17px 17px 0 15px;
    padding-left: 25px;
}

#sidebar .sublist a{
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0 17px 0 40px;
}
#sidebar .sublist a.create{
    display: block;
    text-decoration: none;
    color: #333;
    padding: 2px 5px 2px 5px;
}


#sidebar .sublist{
    margin: 10px 0;
}

#sidebar .sublist button{
    margin: 3px auto;
    margin-left: 23px;
    display: block;
    font-size: 0.7em !important;
}
#sidebar .sublist li{
    padding: 5px 0;
    margin: 0;
    font-size: 0.95em;
}
#sidebar .sublist li:hover{
    background-color: #e5eff3;
}
#sidebar .sublist li.create:hover{
    background-color: white;
}
#sidebar .sublist a:hover{
    background-color: #e5eff3;
}
#sidebar .sublist a.create:hover{
    background-color: white;
}

#sidebar .sublist li.active-section{
    background-color: #D8E8EF;
}
.list-title{
    background-repeat: no-repeat;
}
#messages-list-title{
    background-image: url('../images/icons/messages.png');
}
.activities-list-title{
    background-image: url('../images/icons/activities.png');
}
#folders-list-title{
    background-image: url('../images/icons/folders.png');
}
#create-new-list-title{
    background-image: url('../images/icons/createnew.png');
}
#groups-list-title{
    background-image: url('../images/icons/groups.png');
}
#contacts-list-title{
    background-image: url('../images/icons/contacts.png');
}
#shows-list-title{
    background-image: url('../images/icons/shows.png');
}

#sidebar #search-menu{
	margin-left: 17px;
	padding:0;
}
#sidebar #search-menu li h3{
	margin: 25px 0 0 0;
	padding:0;
}
#sidebar #search-menu .buttons, #sidebar #search-menu #extra-options-list{
	margin-right: 17px;
	padding:0;
}
#sidebar #search-menu .btn.create{
	width:100%;
	height:25px;
	padding: 2px 0;
	margin: 17px 0;
}
#sidebar #search-menu #extra-options-list{
	padding: 0 0 17px 23px;
	margin-bottom: 17px;
	font-size: .9em;
}
#sidebar #search-menu #extra-options-list li{
	padding-top: 5px;
}
#sidebar #search-menu .extra-option input{
	margin: 5px 0 0 17px;
}
#sidebar #search-menu #more-options{
	margin-bottom: 17px;
}
#sidebar #search-menu #search-btn{
	border-top: 1px solid #9e9e9e;
	padding-top: 17px;
	marign-top: 17px;
}
#sidebar #search-menu #clear{
	float: right;
	font-size: .9em;
}
#sidebar #search-menu .field{
	padding-left: 0;
}
#sidebar #search-menu #non-dates .field select, #sidebar #search-menu .field input[type=text]{
	width: 80%;
	
}






#content{
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-size: 0.95em;
    float: right;
    width: 83%;
    height: 93%;
}

.section-header {
    position: fixed;
    z-index: 4;
    width: 83%;
    background-color: #fff;
    top: 83px;
}
.section-header .message-title, .section-header #archive-title{
    padding: 0;
    position: relative;
    margin: 0;
    min-height: 43px;
    padding: 0 17px;
}
.section-header .activity-title{
    margin: 0;
    min-height: 200px;
    height: 200px;
    padding: 0 17px;
    background-color: #D8E8EF;
}

.section-header .message-title h3, .section-header .activity-title h3, .section-header h3{
    text-transform: uppercase;
    padding:10px;
    padding-left: 28px;
    width:30%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 6px 10px;
    float:left;
}

.section-header .activity-title #poll-sent{
    padding:10px;
    margin: 0;
    float:left;
}
.section-header .button-list{
	list-style: none;
	float: right;
	margin: 0;
}
.section-header .activity-title .button-list li{
	padding: 10px;
	text-align: right;
}
.section-header .message-title .button-list li, .section-header #archive-title .button-list li{
	padding: 10px 0 10px 10px;
	text-align: right;
	display: inline;
}
.section-header .button-list .poll-btn{
	width: 200px;
}
.section-header .activity-title #poll-graph-btn{
	position: fixed;
	top: 250px;
	right: 27px;
	padding-left: 25px;
}
.section-header .activity-title #poll-graph-btn.show-arrow{
	background-image: url('../images/icons/toggle_plus.png');
	background-repeat: no-repeat;
}
.section-header .activity-title #poll-graph-btn.hide-arrow{
	background-image: url('../images/icons/toggle_minus.png');
	background-repeat: no-repeat;
}
.section-header .activity-title #activity-details{
	width:70%;
	float:left;
	padding-left:28px;
	height: 30%;
}
.section-header .activity-title td{
	padding: 0 10px;
}

#messages-tab .section-header .message-title h3{
    background-image: url('../images/icons/inbox.png');
}
.section-header #archive-title h3{
    background-image: url('../images/icons/inboxarchive.png');
}
#contacts-tab .section-header h3{
    background-image: url('../images/icons/groups.png');
}
.section-header-buttons{
    margin: 0;
    padding: 10px 10px;
    float:right;
}
.footer{
    width: 100%;
    float: left;
    height: 23px;
    padding: 10px 0;
    border-top: 1px solid #9e9e9e;
    background-color: #f0f0f0;
    bottom: 0;
    position: fixed;
    z-index: 2;
}

.footer input[type=text]{
    display: block;
    width: 170px;
    height: 25px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #9e9e9e;
    padding: 3px;
    background-image: url('../images/icons/search.png');
    background-repeat: no-repeat;
    background-position: right;
}
.footer #message-toggler,
.footer form{
    float: left;
    margin-left: 17px;
}
.footer form {
	margin: 0 17px 0 10px;
}
#messages-tab .footer #paging, #search-tab .footer #paging, #status-tab .footer #paging, #archive-tab .footer #paging{
	float:right;
	position: relative;
	right:43%;
}
.footer #message-toggler{
    padding: 3px;
    text-decoration: none;
    font-size: .8em;
}

.footer #message-toggler a{
    color: inherit;
    padding: 0 10px;
    text-decoration: none;
}

.footer #paging .step, .footer #paging .currentStep {
    display: none;
}

.footer #paging .prevLink, .footer #paging .nextLink{
	float:left;
	width: 25px;
	height:25px;
}

.footer #paging a.prevLink{
    background-image: url('../images/buttons/paginationleft_default.png');
    background-repeat: no-repeat;
    margin-right: 0;
    
}

.footer #paging a.prevLink:hover{
    background-image: url('../images/buttons/paginationleft_hover.png');
    background-repeat: no-repeat;
}

.footer #paging a.prevLink:active{
    background-image: url('../images/buttons/paginationleft_pressed.png');
    background-repeat: no-repeat;
}

.footer #paging a.prevLink.disabled{
    background-image: url('../images/buttons/paginationleft_disabled.png');
    background-repeat: no-repeat;
}

.footer #paging a.nextLink{
    background-image: url('../images/buttons/paginationright_default.png');
    background-repeat: no-repeat;
    margin-left: 0;
}

.footer #paging a.nextLink:hover{
    background-image: url('../images/buttons/paginationright_hover.png');
    background-repeat: no-repeat;
}

.footer #paging a.nextLink:active{
    background-image: url('../images/buttons/paginationright_pressed.png');
    background-repeat: no-repeat;
}

.footer #paging a.nextLink.disabled{
    background-image: url('../images/buttons/paginationright_disabled.png');
    background-repeat: no-repeat;
}

#inbox-action-buttons button{
    margin: 0;
    padding: 0;
}
#messages{
    padding: 0;
    margin: 0;
    background-image: url("../images/menubar.png");
    background-position: 0 2px;
    background-repeat: repeat-x;
    width: 100%;
    height:96%;
    overflow-x: hidden;
    display: block;
}

#message-list{
    float:left;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    width:75%;
}
.tall-header #message-list{
    float:left;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 190px;
    width:75%;
}

#message-list thead{
    position: fixed;
    top: 128px;
    width: 100%;
    z-index: 12;
    padding: 0;
    margin-bottom: 23px;
    border: 0;
    background-image: url('../images/menubar.png');
    background-repeat: repeat-x;
}
.tall-header #message-list thead{
    top: 278px;
}

#message-list tbody{
    position: absolute;
    margin-top: 25px;
    z-index: 1;
    overflow: hidden;
    width: 58%;
    padding: 90px 0 45px 0;
}

#message-list tr{
    height: 28px;
    margin: 0;
    border: none;
    text-align: left;
    width: 100%;
}
#message-list .message-select-cell{
	min-width: 30px;
	padding-left: 17px;
}
#message-list .message-star-cell{
	min-width: 15px;
}
#message-list .message-sender-cell{
	min-width: 120px;
	width: 125px;
	padding-right: 10px;
}
#message-list .message-text-cell{
	min-width: 300px;
	width: 455px;
}
#message-list .message-date-cell{
	min-width: 300px;
	width: 300px;
	padding-right: 10px;
}

#message-list .message-preview td a, #message-list th a{
    text-decoration: inherit;
    color: inherit;
}
#message-list .message-preview:hover{
    background-color: #e5eff3;
}

.message-preview-star a{
    display: inline-block;
    padding: 0;
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/star.png');
    background-repeat: no-repeat;
}
.message-preview-star a:hover{
    background-image: url('../images/icons/star_on.png');
}
.message-preview-star a.starred{
    background-image: url('../images/icons/star_on.png');
}
#message-list td, #message-list th{
    border: none;
    padding: 0;
    margin: 0;
    height: 24px;
}
#message-list .message-preview-sender {
    padding-left: 17px;
}

#message-list tbody tr:hover {
    background-color: #e5eff3;
   	padding: 0;
    margin: 0;
}
#message-list span{
    margin: 5px;
}
#message-list a{
    display: block;
}
#message-sorter{
    width: 100%;
    padding: 0;
    margin: 0;
}
#message-detail{
    position: fixed;
    float:right;
    right: 0;
    width: 25%;
    max-width: 35%;
    min-width: 196px;
    height: 96%;
    margin: 0;
    top: 154px;
    background-color: #D8E8EF;
}
.tall-header #message-detail{
    top: 304px;
}

#message-detail .msg-btn{
	width:26%;
	margin: 0 2%;
}

#message-detail .extra-msg-btn{
	width:50%;
	margin: 17px 2%;
}

#message-detail-content{
    background-color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 0;
    width: 90%;
    border: 1px solid #b5c6cd;
    margin: 17px auto;
}

#message-detail-content p{
	margin: 0;
    padding: 17px;
}

#message-detail-sender, #message-detail-date{
    width: 90%;
    margin: 5px auto;
}

#message-detail-sender{
    margin-top: 10px;
}

#message-detail-buttons{
    width: 100%;
    margin: 17px;
    padding: 0;
}

button, input[type=submit], a.btn{
    display: inline-block;
    border: none;
    background-image: url('../images/buttons/button_default_2.png');
    background-repeat: repeat-x;
    border-left: 1px solid #6b6b6b;
    border-right: 1px solid #6b6b6b;
    border-radius: 2px;
    padding: 2px 10px;
    height:25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: none;
    min-width:80px;
}

button:hover, input[type=submit]:hover, a.btn:hover{
    background-image: url('../images/buttons/button_hover_part.png');
    background-repeat: repeat-x;
}

a.btn, a.btn:hover{
	height:21px;
	padding: 2px 10px;
}

button:active, input[type=submit]:active, a.btn:active{
    background-image: url('../images/buttons/button_pressed_part.png');
    background-repeat: repeat-x;
}

button[disabled=disabled], input[type=submit][disabled=disabled], a.btn[disabled=disabled]{
	background-image: url('../images/buttons/button_disabled_part.png');
	color: #9E9E9E;
	cursor: default;
}
button[disabled=disabled]:hover, input[type=submit][disabled=disabled]:hover, a.btn[disabled=disabled]:hover{
	background-image: url('../images/buttons/button_disabled_part.png');
	color: #9E9E9E;
}

#msg-response-dropdown{
	float: left;
    position: relative;
    min-height:25px;
	padding: 3px 0;
	width: 26%;
}
#btn_reply{
	float:left;
	margin: 0 0 0 2%;
    border: none;
    background-image: url('../images/buttons/button_default_2.png');
    background-repeat: repeat-x;
    border-left: 1px solid #6b6b6b;
    border-radius: 2px;
    padding: 3px 10px;
    height:21px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: none;
    min-width:80px;
    width: 10%;
}
#btn_dropdown{
	float:left;
	margin: 0 2% 0 0;
    border: none;
    background-image: url('../images/buttons/dropdown_default_arrow.png');
    background-repeat: no-repeat;
    padding: 3px 0;
    height:25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: none;
    min-width: 25px;
}
#btn_forward{
	float:left;
	display:block;
	width:100%;
	padding: 3px 0;
}
#dropdown_options{
	float:left;
	position:relative;
	top: 25px;
	right: 29%;
	background-color: white;
	border: 1px solid #6b6b6b;
	width:26%;
	text-align: center;
	height: 25px;
	box-shadow: 1px 1px 2px grey, -1px 0 2px grey;
}

/*Contacts*/
#contacts{
    position: relative;
    border-top: 1px solid #333;
}
#contact-header{
	border-bottom: 1px solid #9e9e9e;
}
#contact-list{
	position: fixed;
    float:left;
    height: 83%;
    margin: 0;
    top: 129px;
    padding: 10px;
    min-width: 250px;
    width: 14%;
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

#contact-list li{
    margin: 0;
    padding: 5px;
}
#contact-list li:hover{
    background-color: #e5eff3;
    
}
#contact-list .contact-name{
    padding: 5px;
    text-decoration: none;
    color: #333;
}

#contact-editor{
	position: fixed;
    float: right;
    width: 68%;
    height: 83%;
    margin: 0;
    top: 129px;
    margin-left: 250px;
    background-color: #D8E8EF;
    overflow-y: auto;
    overflow-x: hide;
}

#contact-editor #update-single{
	height: 25px;
	width: 110px;
}

#contact-editor .basic-info{
    margin: 17px;
    padding: 0;
}
#contact-editor ul{ padding: 0; }
#contact-editor label{
    margin: 0 17px;
    float: left;
    width: 200px;
}

#contact-editor textarea, #contact-editor input[type=text]{
    border: none;
    width: 250px;
    padding: 5px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#contact-editor select, #contact-editor #group-list, #contact-editor #message-stats a, #contact-editor #message-count{
	width: 250px;
	margin-left: 234px;
	padding:0;
}
#contact-editor #message-stats a{
	height:25px;
}

#contact-editor #action-buttons{
    width: 100%;
    float: right;
    text-align: right;
    padding: 17px;
}


#message-stats{
    border-top: 1px solid #b5c6cd;
    margin: 150px 17px 17px 17px;
    width: 96%;
}
#message-stats label{
    margin: 1em 0;
}
#message-stats #num-sent{
	background-image: url('../images/icons/sentmessages.png');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 25px;
}
#message-stats #num-recieved{
    background-image: url('../images/icons/recievedmessages.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
}

/* Polls */

#poll-details{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:100%;
    background-color: #D8E8EF;
}
#pollGraph{
	background-color: #D8E8EF;
    position: fixed;
    bottom: 0;
    width: 85%;
    height:60%;
    padding-bottom: 43px;
}

#poll-details h3{
    background-image: url('./assets/icons/png/activities.png');
}
