/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$blueprint_grid_columns: 24;
$blueprint_grid_width: 30px;

@import "compass/reset";
@import "blueprint";
@import "compass/typography/lists/horizontal-list";

/* DEBUG */
div {
	border: solid #ddd 1px;
}

/* RESET LINKS */
a,a:hover,a:visited,a:link {
	font-weight: normal;
	color: blue;
	text-decoration: underline;
}

/* FONTS */
body {
	font-family: Georgia,Helvetica,Arial,sans-serif;
	font-size: 1.2em;
}

/* SPECIFIC */
#main {
	@include container;
	.content-menu {
		@include column(6);
		h2 { font-weight: bold; }
		>li {
			margin-bottom: 1em;
			li {
				text-indent: 1em;
				margin: 0.3em;
			}
		}
	}
	
	#settings-content {
		@include column(17);
		.button {
			border: solid #ddd 1px;
		}
	}
	
	#contacts {
		@include column(6);
	}
	#contact-details {
		@include column(11, true);
		.buttons,#group-dropdown {
			margin-left: 140px;
		}
		#group-list {
			clear: both;
		}
		.remove-group {
			cursor: pointer;
		}
	}
	
	#messages {
		@include column(12);
		tr a {
			display:block;
			padding:1em;
		}
		.unread a { font-weight:bold; }
	}
	#message-details {
		@include column(6, true);
		border: solid #ddd 3px;
		.contact-name {
			font-weight: bold;
			background-color: #ddd;
		}
		.message-date {
			background-color: #ddd;
		}
		.message-body {
			font-size: 1.1em;
		}
	}
	#poll-actions {
		@include column(6, true);
	}
}

#main-tabs {
  @include horizontal-list
}

/* GENERAL */
.selected {
	background-color:cyan;
}

.starred {
	color:green;
}

.field {
	clear: both;
	padding: 0.5em;
	label {
		float: left;
		width: 120px;
		text-align: right;
	}
	input {
		float: left;
	}
}

/* PAGINATION */
.currentStep, .step {
	display : none;
}

#pollGraph {
	clear:both;
	display:block;
}
