/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$blueprint-grid-columns: 24;
$blueprint-grid-margin: 17px;

@import "compass/reset";
@import "blueprint";
@import "blueprint/liquid";
@import "blueprint/reset";
@import "compass/typography";
@import "compass/layout";


$core-pink: #D8AEC6; // top highlight bar
$core-highlight-blue: #D8E8EF;
$radio-purple: #C79CDD; // top bar highlight
$radio-highlight-green: #E0F0DE;

$highlight: $radio-highlight-green;
$top-bar: $radio-purple;

@mixin button-format {
	padding-left: 5px;
	padding-right: 5px;
	
	a:link, a:visited {
		background-image:url('../images/buttons/button_default.png');
		background-repeat:no-repeat;
		background-size: 100% 100%;
		padding: 8px 10px;
		text-align: center;
	}
	
	a:hover {
		background-image:url('../images/buttons/button_hover.png');
		background-repeat:no-repeat;
		background-size: 100% 100%;
		padding: 8px 10px;
		text-align: center;
	}
	
	a:active {
		background-image:url('../images/buttons/button_pressed.png');
		background-repeat:no-repeat;
		background-size: 100% 100%;
		padding: 8px 10px;
		text-align: center;
	}
}
	

/* RESET LINKS */
a,a:hover, a:visited, a:link, a:active {
	font-weight: normal;
	text-decoration: none;
}

/* FONTS */
body {
	font-family: Arial,Georgia,Helvetica,sans-serif;
	font-size: 12px;
	color: #333333;
	a:link {color:#333333;}  
	a:visited {color:#333333;}
	a:hover {color:#333333;}
}

/* SPECIFIC */
#container {
	@include container;
	width: 100%;
	border-top: 3px solid $top-bar;
	background-image:url('../images/background.png');
	background-repeat:no-repeat;
	background-position:left top;
	background-size: 100% 69px;
	
	#system-menu {
		@include clearfix;
	  	@include horizontal-list(6px, right);
	  	height: 20px;
	  	margin: 6px 16px;
	  	text-align: center;
	  	
	  	.selected {
	  		background-color: #E0E0E0;
	  		boder-top: 3px solid #C03283;
	  	}
	}
	
	#top {
		height: 60px;
		position: relative;
		top: -10px;
		background-image:url('../images/tabbar.png');
		background-repeat:no-repeat;
		background-position:left bottom;
		background-size: 100%;
		background-origin:content-box;
	
		#logo {
			@include column(1, false);
			margin: 17px;
			position: relative;
			top: -20px;
		}
		
		#global-nav {
			@include column(21, true);
		  	@include horizontal-list(0px, left);
		  	text-transform:uppercase;
		  	text-align: center;
		  	padding: 20px;
		  	
		  	li #tab-status img {
	  			vertical-align: middle;
		  	}
			
			a:link, a:visited {
				display: block;
				padding-top: 5px;
				background-image:url('../images/buttons/tab.png');
				background-repeat:no-repeat;
				width: 112px;
		  		height: 30px;
			}
			
			a:hover {
				background-image:url('../images/buttons/tab_hover.png');
			}
			
			a:active {
				background-image:url('../images/buttons/tab_pressed.png');
			}
			
			a.selected {
				background-image:url('../images/buttons/tab_active_me.png');
			}
		}
	}

	.main {
		@include clearfix;
		position: relative;
		top: -25px;
		width: 100%;
		
		#list-items tbody tr:first-child, .selected {
			background-color: $highlight !important;
		}
		
		.context-menu { 
			padding-bottom: 40px;
			border:none; 
		}
		
		#settings-menu, #contacts-menu, #messages-menu, #archives-menu {
			@include column(4, false);
			text-align: left;
			margin-right: 0px;
			
			.section { padding-top: 17px; }
			
			img {
				padding-left:17px;
				vertical-align: middle;
			}
			
			h2 {
				text-transform:uppercase;
				padding-top: 7px;
				padding-bottom: 7px;
				padding-left: 2px;
				display:inline;
				vertical-align: middle;
			}
			
			ol { display: block; }
			
			.sub-menu li {
				height: 26px;
				display: block;
				padding-left: 40px;
				
				a {
					display: block;
					padding-top: 7px;
					padding-bottom: 7px;
				}
			}

			.create {
				padding-top: 7px;
				@include button-format;
				a {
					width: 120px;
				}
			}
		}
		
		#search-menu {
			@include column(4, false);
			text-align: left;
			margin-right: 0px;
			
			.section {
				padding-top: 17px;
				padding-left: 5px;
			 }
			
			h2 {
				text-transform:uppercase;
				padding-top: 7px;
				padding-bottom: 7px;
			}
			
			ol { display: block; }
			
			.sub-menu li {
				display: block;
				
				a {
					display: block;
					padding-top: 7px;
					padding-bottom: 7px;
				}
			}
			
			.sub-menu .field {
				padding-top: 7px;
				
				input, select { width: 170px; }
				
				h2 { display: inline; }
				
			}
				
			.search {
				width: 120px;
				height: auto;
				background-image:url('../images/buttons/button_default.png');
				background-repeat:no-repeat;
				background-size: 100% 100%;
				padding: 8px 10px;
				text-align: center;
			}
		}
		
		.content {
			@include clearfix;
			border-bottom: 1px solid #9E9E9E;
			border-left: 1px solid #9E9E9E; 
		
			.content-header {
				@include clearfix; // required
				@include horizontal-list(5px, right);
				width: 100%;
				margin-right: 0px;
				
				.message-title, #contact-title, #search-title, #archive-title {
					@include clearfix;
					@include column(10, false);
					height: 46px;
			
					img {
						display: inline;
						padding: 15px 7px 17px 17px;
						vertical-align: middle;
					}
					
					h2 {
						display: inline;
						padding: 17px 0 17px 0px;
						vertical-align: middle;
						text-transform: uppercase;
					}
				}
				
				#poll-title { 
					@include clearfix;
					@include column(10, false);
					height: 123px;
					
					img {
						display: inline;
						padding: 15px 7px 17px 17px;
						vertical-align: middle;
					}
					
					h2 {
						display: inline;
						padding: 17px 0 17px 0px;
						vertical-align: middle;
						text-transform: uppercase;
					}
					
					table {
						padding: 17px;
						tbody tr {
							height: 12px;
							.answers { padding-right: 20px; }
							.count {
								padding-right: 5px;
								text-align: right;
							}
						}
					}
				}
				
				ol {		
					float: right;
					clear: right;
					li {
						padding: 17px 17px 17px 0;
						@include button-format;
						
						a img { vertical-align: middle; }
						
					}
				}
				
				#export-btn .disabled {
					padding: 17px 17px 17px 0;
					color: #9E9E9E;
					background-image:url('../images/buttons/button_hover.png');
					background-repeat:no-repeat;
					background-size: 100% 100%;
					padding: 8px 10px;
					text-align: center;
				}
				
				#show-graph {
					float:right;
					padding-right: 17px;
				    position: relative;
				    top: 60px;
				}
			}
			
			.poll { background-color: $highlight; }

			#no-search-description {
				@include clearfix;
				height: 250px;
				@include column(24, true);
				background-color: white;
				text-align: center;
				
				h1 {
					padding: 50px 100px 50px 100px;
					font-size: 30px;
				}
			}
			
			#search-description, #poll-description {
					@include column(24, true);
					height: 77px;
					background-color: $highlight;
					border-top: 1px solid #9E9E9E;
					
					p { padding: 17px 17px 0 17px; }
				}
			
			.content-body {
				@include clearfix; // required
				
				
				.connection .selected {
					@include clearfix;
					height: 50px;
				}
				
				.connection {
					@include horizontal-list(4px, left);
					padding: 17px;
					border-bottom: 1px solid #9E9E9E;
					display: block;
					
					.selected { height: 50px; }
										
					.con-name {
						display: block;
						font-size: 14px;
					}
					.con-type {
						display: block;
						font-size: 13px;
					}
					.con-status {
						font-style: italic;
						float: right;
					}
					.buttons {
						@include button-format;
						float: right;
						position: relative;
						top: 20px;
					}
				}
				
				#btnNewConnection {
					@include button-format;
					float: right;
					padding: 17px;
				}
				
				table {
					width: 100%;
					tbody {
						margin-top: 21px;
						margin-bottom: 21px;
					}
				}
				
				thead {
					vertical-align: middle;
					height: 26px;
					background-image:url('../images/menubar.png');
					background-repeat:no-repeat;
					background-size: 100% 100%;
				}
				
				tr {
					height: 26px;
					padding-left: 17px;
				}
				
				td a {
					display: block;
				}
				
				#contact-list {
					@include column(5, false);
					width: 250px;
					margin-right: 0px;
					display: block;
					border-top: 1px solid #9E9E9E;
					overflow-y: scroll;
				  	height:75%;
					li { height: 26px; }
					a {
						height: 26px;
						padding-top: 5px;
						padding-bottom: 5px;
						display: inline-block;
					}
				}
				
				#contact_details {
					@include column(18, true);
					display: block;
					background-color: $highlight;
					margin-right: 0;
					border-top: 1px solid #9E9E9E;
					
					.remove-group, .remove-field {
						cursor: pointer;
					}
					
					.dropdown {
						position: relative;
						left: 137px;
					}
					
					.list {
						position: relative;
						left: 137px;
					}
					
					.buttons {
						@include horizontal-list(4px, right);
						display: block;
						@include button-format;
						
						li { padding-top: 17px; }
						input {
							display: block;
							background-image:url('../images/buttons/button_default.png');
							background-repeat:no-repeat;
							background-size: 100% 100%;
							padding: 8px 10px;
							text-align: center;
						}
					}
					
					.field {
						clear: both;
						a img {
							vertical-align: middle;
							position: relative;
							bottom: 2px;
							
							.remove { right: 25px; }
						}
						
						label {
							float: left;
							width: 120px;
							text-align: left;
							padding-top: 5px;
							padding-bottom: 5px;
						}
						
						.status {
							.label {
								@include column(6);
							}
						
							.value {
								@include column(12);
								height: 20px;
								width: 259px;
							}
						}
					}
					
					.basic-info, #custom-list li, #note-area {
						padding: 5px 0 5px 17px;
					}
					
					#group-section {
						label {
							padding-left: 17px;
							width: 120px;
						}
							
						li {
							padding-top: 5px;
							padding-bottom: 5px;
							padding-left: 137px;
						}
					}
					
					#group-add {
						padding-bottom: 17px;
						padding-top: 5px;
					}

					#message-stats {
						border-top: 1px solid #B5C6CD;
						padding: 17px;
						
						#message-search {
							position: relative;
							left: 120;
							padding-top: 10px;
							padding-bottom: 10px;
							
							
							a:link, a:visited {
								background-image:url('../images/buttons/button_default.png');
								background-repeat:no-repeat;
								background-size: 100% 100%;
								padding: 8px 10px;
								text-align: left;
								display: inline;
							}
							
							a:hover {
								background-image:url('../images/buttons/button_hover.png');
								background-repeat:no-repeat;
								background-size: 100% 100%;
								padding: 8px 10px;
								text-align: left;
								display: inline;
							}
							
							a:active {
								background-image:url('../images/buttons/button_pressed.png');
								background-repeat:no-repeat;
								background-size: 100% 100%;
								padding: 8px 10px;
								text-align: left;
								display: inline;
							}
						}
						
						img, p { 
							display:inline;
							vertical-align: middle;
						}
					}
				}
				
				#message-list {
					@include column(17, false); // FIXME hack, but its the only thing that seems to help
					display: block;
					.unread a { font-weight:bold; }
					margin-right: 0px;
					
					li { height: 10px; }
					
					a {
						display: block;
					}
				}
					
				#message-details {
					@include column(7, true);
					display: block;
					background-color: $highlight;
					background-image:url('../images/menubar.png');
					background-repeat:no-repeat;
					background-size: 100% 26px;
					background-position: top;
					padding-top: 43px;
					
					h2 {
						font-size: 14px;
						padding-left: 17px;
						padding-right: 17px;
					}
					
					#message-date {
						font-size: 11px;
						padding-left: 17px;
					}
					
					#message-body {
						font-size: 14px;
						background-color: white;
						border: 1px solid #B5C6CD;
						padding: 17px;
						margin-left: 17px;
						margin-right: 17px;
					}
					
					#checked-message-count {
						font-size: 14px;
						padding: 5px 17px 5px 17px;
					}
					
					.actions {
						padding: 5px 17px 5px 17px;
						
						.buttons {
							@include horizontal-list(0px, left);
							padding-bottom: 5px;
						
							.static_btn {
								@include button-format;
								
								a {
									display: block;
									width: 60px;
								}
							}
							
							#static {
								@include clearfix;
								display: block;
								background-image:url('../images/buttons/dropdown_default.png');
								background-repeat:no-repeat;
								background-size: 100% 100%;
								text-align: center;
								
								#btn_reply {
									border-right: 1px solid #6B6B6B;
									padding-top: 3px;
								}
								#btn_reply:hover { background-image:url('../images/buttons/button_hover.png'); }
								#btn_reply:active { background-image:url('../images/buttons/button_pressed.png'); }
								
								#btn_dropdown {
									height: 20px;
									weight: 15px;
								}
							}
							
							#dropdown_options {
								background-color: white;
								border: 1px solid #6B6B6B;
								
								a {
									display: block;
									padding: 8px 10px;
								}
								
								a:hover { background-color: #E5EFF3; }
								a:active { background-color: #D8E8EF; }
							}
							
							#other_btns { padding-left: 5px; }
						}
						
						.dropdown {
							padding: 5px 0 5px 0;
							h2 {
								padding-bottom: 5px;
								padding-top: 5px;
							}
						}
					}
				}
				.starred {
					background-image:url('../images/icons/star_on.png');
					width: 16px;
					height: 16px;
				}

				.unstarred {
					background-image:url('../images/icons/star.png');
					width: 16px;
					height: 16px;
				}
			}
			
			.content-footer {
				@include clearfix; // required
				@include column(24);
				margin-left: 0;
				margin-right: 0px;
				display: block;
				padding: 17px;
				border-top: 1px solid #9E9E9E;
				background-color: #F0F0F0;
				
				#filter {
					@include column(10, false);
					@include horizontal-list;
					text-align: bottom;
				}
				input {
				float:left
				}
			}
		}
	}

	/* GENERAL */
	
	.buttons { cursor: pointer;}
	
	/* PAGINATION */
	.currentStep, .step {
		display: none;
	}
	
	#pollGraph {
		clear:both;
		display:block;
	}
}

.hide {
  display: none
}
					
.error-panel {
	text-align: center;
	border: 2px solid #C03283;
	position: relative;
	left: 169px;
	width: 70%;
}

.checked {
	background-color: $highlight;
}

.desc {
	background-image:url('../images/skin/sorted_desc.gif');
	background-repeat:no-repeat;
	background-position: left center;
	a { font-weight: bold; }
}

.asc {
	background-image:url('../images/skin/sorted_asc.gif');
	background-repeat:no-repeat;
	background-position: left center;
	
	a { font-weight: bold; }
}

#trafficGraph {
	width:600px;
	height:400px;
}

#tabs #recipients-list {
	height: 275px;
	overflow: auto;
	padding: 10px;
}

.sortable a{	
  text-decoration:none !important;
  display:inline !important;
  padding:0px 25px 0 20px !important;
}
.asc a {
  background: url('/frontlinesms2/images/up_arrow.png') no-repeat center right;
}
.desc a{
  background: url('/frontlinesms2/images/down_arrow.png') no-repeat center right;
}

.poll-responses-tab input, label {
	display: block
}

.poll-responses-tab li label {
	float: left;
	margin: 5px 10px 0px 30px;
	color:#949494;
}

.poll-responses-tab #instruction {
	margin: 10px 0 10px 30px
}

.poll-responses-tab input {
	width: 400px
}

.poll-responses-tab li {
	margin: 10px 0 0 0
}

label.field-enabled {
	font-weight: bold;
	color:#000 !important;
}

a.send-failed, .send-failed td:last-child {
	 background: url('../images/icons/error_on.png') no-repeat center right;
}

.ui-tabs-nav li.ui-tabs-selected.confirm-tab {
	background-color: white;
}

.flash {
	margin: 20px;
}

#archive-submenu {
	#inbox {
		background: url('../images/icons/messages.gif') no-repeat center left transparent;
	}

	#sent {
		background: url('../images/icons/messages.gif') no-repeat center left transparent;
	}

	#poll {
		background: url('../images/icons/activities.gif') no-repeat center left transparent;
	}
	
	#folder {
		background: url('../images/icons/folders.gif') no-repeat center left transparent;
	}
}

.response-count {
	float:right;
}

.poll-details {
	clear:both;
	font-weight: bold;
}

.poll-response-reply h3 {
  font-weight: bold;
  padding: 0 0 10px 0;
}

.poll-response-reply div {
  padding: 0 10px 10px 25px;
}

.poll-response-reply #send_auto_reply {
  float: left;
  margin: 0 0 10px 25px;
}

.poll-response-reply label {
  margin: 0 0 10px 50px;
}

.poll-response-reply textarea {
  margin: 0 0 0 50px;
}

.ui-dialog-titlebar-close {
  display: none;
}

div.confirm-header label {
  font-weight: bold;
  margin: 0 0 20px 0;
}

div.confirm-header .title {
  font-weight: bold;
  margin: 0 10px 10px 20px;
  float: left;
  width: 20%;
}

div.confirm-header .message {
  height:30px;
}

label.header {
 font-weight: bold;
 margin: 0 0 10px 0;
}

#page-arrows .nextLink {
	background: url('../images/buttons/paginationright_default.png') no-repeat center right;
}

#page-arrows .prevLink {
	background: url('../images/buttons/paginationleft_default.png') no-repeat center right;
}

#page-arrows .prevLink, #page-arrows .nextLink {
  display: block;
  float:left;
  text-indent:-9999em;
  width: 25px;
  padding: 5px;
}

#page-arrows .nextLink.disabled {
	background: url('../images/buttons/paginationright_disabled.png') no-repeat center right;
	padding: 5px;
}

#page-arrows .prevLink.disabled {
	background: url('../images/buttons/paginationleft_disabled.png') no-repeat center right;
	padding: 5px;
}

.error {
	border: 1px solid red;
}

.default-text-input {
 color:#9E9E9E;
}
