/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$blueprint-liquid-grid-columns: 24;

@import "compass/reset";
@import "blueprint";
@import "blueprint/liquid";
@import "compass/typography/lists/horizontal-list";


/* DEBUG */
div {
	border: solid #ddd 1px;
}

/* RESET LINKS */
a,a:hover,a:visited,a:link {
	font-weight: normal;
	color: blue;
	text-decoration: underline;
}

/* FONTS */
body {
	font-family: Georgia,Helvetica,Arial,sans-serif;
	font-size: 1.2em;
}

/* SPECIFIC */
#container {
	@include container;
	
	#system-menu {
	  	@include horizontal-list(4px, right);
	}
	
	#global-nav {
	  	@include horizontal-list;
	}
	
	.main {
		@include clearfix;
		.context-menu {
			height: 100%;
			@include column(5);
			h2 { font-weight: bold; }
			>li {
				margin-bottom: 1em;
				li {
					text-indent: 1em;
					margin: 0.3em;
				}
			}
		}
		
		.content {
			.content-header {
				@include clearfix;
				h2 { text-transform:capitalize; }
				#message-title { @include column(15); }
				
				a {
					@include column(9, true);
					text-align: right;
				}
			}
			
			.content-body {
				#contact-list {
					@include column(5);
				}
				
				#contact_details {
					@include column(14, true);
					.remove-group {
						cursor: pointer;
					}
				}
				
				#message-list {
					@include column(14, true);
					.unread a { font-weight:bold; }
				}
					
				#message-details {
					@include column(5, true);
					.contact-name {
						font-weight: bold;
						background-color: #ddd;
					}
					.message-date {
						background-color: #ddd;
					}
					.message-body {
						font-size: 1.1em;
					}
				}
			}
			
			.content-footer {
				@include column(14);
				margin-left: 0;
				
				#filter {
					@include column(10);
					@include horizontal-list;
				}
					
				#page-arrows {
					@include column(13.9, true);
					text-align: right;
				}
			}
		}
	}
	/* GENERAL */
	.selected {
		background-color:cyan;
	}
	
	.starred {
		color:green;
	}
	
	.field {
		clear: both;
		padding: 0.5em;
		label {
			float: left;
			width: 120px;
			text-align: right;
		}
		input {
			float: left;
		}
	}
	
	/* PAGINATION */
	.currentStep, .step {
		display : none;
	}
	
	#pollGraph {
		clear:both;
		display:block;
	}
	
	.status {
		.label {
			@include column(6);
		}
	
		.value {
			@include column(12);
		}
	}
}
